/* Reinciar el navegador para evitar diferencias de estilos */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;  
}

/* Estilos generales del cuerpo de la pagina*/
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background: rgb(110, 101, 231);
    color: black;
}

/* estilo para el encabezado con degrado+*/
.site-header{
    background: linear-gradient(90deg, #4f46e6, #06b6d4);
    color: rgb(1, 62, 39);
    padding: 1rem;
    text-align: center;
}

.subtitle{
    opacity: 50%;
}

.contect{
    display: flex; /* coloca las tarjetas una al lado de la otra*/
    gap: 3rem; /*separar las tarjetas*/
    flex-wrap: wrap;  /*permite */
    justify-content: center;
    padding: 2rem;

}

.card{
    background: #06b6d4;
    padding: 1.25rem;
    border-radius: 33px;
    box-shadow: 0.6px 18px rgba(31, 119, 242, 0.914);
    width: 300px;
}
.card h2{
    margin-bottom: 0.5rem;
    color: blue;
}
.card p{
    margin-bottom: 1rem;
    color: rgb(1, 62, 39);
    }
.btn{
    display: inline-block;
    padding: 0.5rem 1rem;
    background: rgb(246, 246, 151);
    border-radius: 8px;
    color: black;
    justify-content: center;
}

.card a{
    justify-content: center;
    display: flex;
    text-align: center;
}

.site-footer{
    text-align: center;
    padding: 1rem;
    color: aqua; 
}



